.DoctorCards {
  padding-bottom: 1.25rem;
  width: 100%;
  max-width: 112.5rem;
}

.boxCard {
  background-color: var(--white-box-two);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.25rem;
  margin: 1.25rem;
  border-radius: 0.625rem;
  gap: 1.875rem;

  h2 {
    padding-top: 0.625rem;
  }

  button {
    margin-top: 1.25rem;
    cursor: pointer;
    border: none;
    padding: 0.625rem 1.125rem;
    border-radius: 0.5rem;
    font-weight: bold;
  }

  img {
    border-radius: 0.625rem;
    width: 8.75rem;
    height: 7.5rem;
    object-fit: cover;
    // filter: saturate(180%);
    // filter: grayscale(110%);
  }
}

.infoBoxText {
  padding-top: 0.625rem;
  width: 18.75rem;

  h3 {
    font-size: 1rem;
    color: var(--black-color);
  }

  .telIcon {
    display: flex;
    align-items: center;
    background-color: var(--green-color);
    border-radius: 1rem;
    padding: 0.625rem;
    cursor: pointer;
    color: var(--white-box);
  }

  .city {
    padding-top: 0.5rem;
    font-size: 1rem;
    color: var(--black-color);
  }

  .callToAction {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dateAppointment {
      font-size: 0.875rem;
      color: var(--green-color);
    }
  }
}

// ---MEDIA QUERY----
@media screen and (min-width: 768px) {
  .DoctorCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .boxCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    padding: 1.625rem;

    button {
      margin-top: 2.5rem;
    }

    .callToAction {
      gap: 0.625rem;
      display: block;
    }
    .infoBoxText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 11.25rem;

      .telIcon {
        margin-top: 0.875rem;
        justify-content: center;
      }

      .city {
        padding-bottom: 0.625rem;
      }
    }
  }
}
