.DoctorCards {
  padding-bottom: 20px;
}

.boxCard {
  background-color: #b4d4ee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  gap: 30px;

  h2 {
    padding-top: 10px;
  }

  button {
    margin-top: 20px;
    cursor: pointer;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: bold;
  }

  img {
    border-radius: 10px;
    width: 140px;
    height: 120px;
    object-fit: cover;
    filter: saturate(180%);
    filter: grayscale(110%);
  }
}

.infoBoxText {
  width: 300px;

  h3 {
    color: var(--black-color);
  }

  .telIcon {
    display: flex;
    justify-content: center;
    background-color: var(--grey-light-color);
    border-radius: 10px;
    margin-top: 20px;
    padding: 4px;
    cursor: pointer;
  }

  .city {
    padding-top: 8px;
    font-size: 16px;
    color: var(--violet-dark-color);
  }
}
