.Doctor {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--white-color);
  padding: 30px 30px 16px 30px;
}

.navTitle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .heartIcon {
    font-size: 20px;
    cursor: pointer;
  }
  .iconBack {
    font-size: 20px;
    cursor: pointer;
  }
}

.titleCenter {
  img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
  }
}

.infoDoctor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  gap: 6px;
}

.location {
  display: flex;
  gap: 10px;
  align-items: center;
}

.locationIcon {
  color: var(--blue-color);
}

.boxInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;

  .box {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 100px;
    background-color: var(--white-box);
    border-radius: 10px;

    .iconBox {
      color: var(--blue-color);
    }

    p {
      font-size: 14px;
    }
  }
}

.bottomInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  padding-top: 20px;

  h4 {
    padding-top: 14px;
  }

  .bottomInfoPar {
    font-size: 14px;
    padding-top: 4px;
  }

  .btnAppointment {
    background-color: var(--blue-color);
    color: var(--white-color);
    border: none;
    border-radius: 10px;
    padding: 14px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
  }

  button {
    font-family: "Merriweather Sans", sans-serif;
    color: var(--black-color);
    cursor: pointer;
  }
}
