.DoctorCardsColumn {
  padding-bottom: 1.25rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.boxCardColumn {
  background-color: var(--white-box);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.625rem;
  padding: 1.25rem;
  width: 11.25rem;
  height: 18.125rem;

  img {
    border-radius: 50%;
    width: 6.25rem;
    height: 6.25rem;
    object-fit: cover;
    filter: saturate(180%);
    filter: grayscale(110%);
  }
}

.infoBoxText {
  text-align: center;

  h3 {
    font-size: 0.875rem;
    color: var(--black-color);
  }

  .telIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-light-color);
    border-radius: 0.625rem;
    width: 3.125rem;
    margin: 0 auto;
    height: 1.875rem;
    margin-top: 0.625rem;

    cursor: pointer;
  }

  .job {
    padding-top: 0.3125rem;
    font-size: 0.875rem;
  }

  .city {
    padding-top: 0.5rem;
    font-size: 0.75rem;
    color: var(--black-color);
  }

  button {
    width: 10rem;
    height: 1.875rem;
    margin-top: 0.625rem;
    background-color: var(--blue-color);
    color: #ebebeb;
    font-size: 0.875rem;
    font-weight: bold;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
  }
}
