.DoctorCardsColumn {
  padding-bottom: 1.25rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.boxCardColumn {
  background-color: var(--white-box-two);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.625rem;
  padding: 1.25rem;
  width: 11.25rem;
  height: 21.25rem;

  img {
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
    object-fit: cover;
    // filter: saturate(180%);
    // filter: grayscale(110%);
  }
}

.infoBoxText {
  text-align: center;

  h3 {
    font-size: 1rem;
    color: var(--black-color);
  }

  .telIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-light-color);
    border-radius: 0.625rem;
    width: 3.125rem;
    margin: 0 auto;
    height: 1.875rem;
    margin-top: 0.625rem;

    cursor: pointer;
  }

  .job {
    padding-top: 0.3125rem;
    font-size: 0.875rem;
  }

  .city {
    padding-top: 0.5rem;
    font-size: 0.875rem;
    color: var(--black-color);
  }

  button {
    width: 10rem;
    height: 1.875rem;
    margin-top: 0.625rem;
    background-color: var(--green-color);
    color: var(--white-box);
    font-size: 0.875rem;
    font-weight: bold;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
  }
}

// ---MEDIA QUERY----
@media screen and (min-width: 768px) {
  .DoctorCardsColumn {
    gap: 3.75rem;
  }

  .boxCardColumn {
    width: 15rem;
    padding: 1.625rem;
  }
  .infoBoxText {
    button {
      font-size: 1rem;
    }
  }
}
