.DoctorCards {
  padding-bottom: 1.25rem;
  width: 100%;
}

.boxCard {
  // background-color: #b4d4ee;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.25rem;
  margin: 1.25rem;
  border-radius: 0.625rem;
  gap: 1.875rem;

  h2 {
    padding-top: 0.625rem;
  }

  button {
    margin-top: 1.25rem;
    cursor: pointer;
    border: none;
    padding: 0.625rem 1.125rem;
    border-radius: 0.5rem;
    font-weight: bold;
  }

  img {
    border-radius: 0.625rem;
    width: 8.75rem;
    height: 7.5rem;
    object-fit: cover;
    filter: saturate(180%);
    filter: grayscale(110%);
  }
}

.infoBoxText {
  padding-top: 0.625rem;

  width: 18.75rem;
  h3 {
    font-size: 1rem;
    color: var(--black-color);
  }

  .telIcon {
    display: flex;
    align-items: center;
    background-color: var(--blue-color);
    border-radius: 1rem;
    padding: 0.625rem;
    cursor: pointer;
    color: #ebebeb;
  }

  .city {
    padding-top: 0.5rem;
    font-size: 1rem;
    color: var(--black-color);
  }

  .callToAction {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dateAppointment {
      font-size: 0.875rem;
      color: var(--blue-color);
    }
  }
}
