.main {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-width: 112.5rem;
}

.carousel {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-blue-color);

  img {
    width: 37.5rem;
    height: auto;
  }

  h1 {
    font-size: 1.25rem;
    padding-top: 1.25rem;
    color: var(--black-color);
  }
}

.btnNext {
  margin-top: 1.875rem;
  padding: 0.875rem 1.875rem;
  border-radius: 0.625rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-size: 1.125rem;
}

//startPage
.userPage {
  background-color: var(--grey-light-color);
}

.boxCard {
  background-color: var(--light-blue-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.25rem;
  border-radius: 0.625rem;
  gap: 3.125rem;

  h2 {
    padding-top: 0.625rem;
  }

  p {
    font-size: 0.875rem;
    padding-top: 0.5rem;
    width: 8.75rem;
  }

  button {
    margin-top: 1.25rem;
    cursor: pointer;
    border: none;
    padding: 0.625rem 1.125rem;
    border-radius: 0.5rem;
    font-weight: bold;
  }

  .imgBoxCard {
    background: url("/doctors.svg");
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

//section
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem 1.875rem 1rem 1.875rem;

  p {
    padding-top: 6px;
  }
}

//CAROUSEL---
.icon {
  display: flex;
  gap: 1.25rem;
  overflow-x: scroll;

  a {
    color: var(--white-color);
  }
  font-size: 2.5rem;
  padding: 0.625rem 1.875rem 1rem 1.875rem;

  .boxIcon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.625rem;
    align-items: center;
    width: 7.5rem;
    background-color: #4780d7;
    padding: 0.625rem;
    border-radius: 0.625rem;
  }

  p {
    font-size: 0.875rem;
  }
}

///MEDIA QUERY
///
///
@media screen and (min-width: 768px) {
  .nav {
    padding: 1.875rem 2.5rem 2.5rem 2.5rem;
  }

  .boxCard {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 0px;
    height: 60vh;

    h2 {
      font-size: 1.625rem;
    }
    p {
      font-size: 1rem;
    }

    button {
      margin-top: 1.625rem;
      cursor: pointer;
      border: none;
      padding: 14px 24px;
      border-radius: 0.5rem;
      font-size: 16px;
      font-weight: bold;
    }

    .textBoxCard {
      width: 31.25rem;
      p {
        width: 31.25rem;
      }
    }

    .imgBoxCard {
      background: url("/doc.svg");
      width: 25rem;
      height: 40vh;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  //CAROUSEL
  .icon {
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    p {
      text-align: center;
    }

    .boxIcon {
      width: 280px;
      height: 120px;
    }
  }
}
